#darkMode {
    background: transparent url("./moon.png")no-repeat center;
    background-size: 30px 30px;
    width: 35px;
    height: 35px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    margin-left: 500px;
    margin-top: 5px;
}

#darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer;
}
#darkMode.clicked {
    filter: none !important;
    background-color: black;

}